{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>About Medilog</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    </style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



    <script type="" src="{% static 'js/index.js' %}" charset="utf-8"></script>

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>
            {% block content %}
            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <ul class="nav navbar-nav float-left ml-auto">
                        <li style="margin-top: 15px;">Hello, {{user}}</li>
                        <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                    </ul>
                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">

        {% if patient %} {% include 'BackEndApp/patientSidebar.html' %} {% elif admin %} {% include 'BackEndApp/adminSidebar.html'%} {% elif hospital %} {% include 'BackEndApp/hospitalSidebar.html' %} {% endif %} {% if doctor %} {% include 'BackEndApp/doctorSidebar.html'
        %} {% elif laboratory %} {% include 'BackEndApp/hospitalSidebar.html' %} {% endif %}


    </div>

    <!-- <div style="height: 500px;"></div> -->
    <div class="usableBody2">

        <h2>By the doctors, for the doctors | Medilog</h2>
        <p>

            In today’s life medical records of a person are one the most important documents in his life as they contain really sensitive and important information about their health. So, the management and safety of such documents should also be really important.
            Most of the doctors still examine a patient, take notes on a paper sheet and give them to the patient. And it is really difficult for the patient to manage them and keep them safe at one place. In most of the cases these crucial medical records
            get misplaced by the patient. But now the time has changed. Electronic records are taking place of paper records in almost every field of life as they are easier to manage, store and are less likely to get misplaced as compared to paper records
            thus making them far more efficient. This transformation of non-electronic and paper records to electronic records has made their management easy. Our project will be an electronic health record (EHR) system which will provide a central platform
            where all the medical records of the patient can be stored and managed easily. This will not only reduce the risk of losing important medical records by patients but also help the doctors in the diagnosis of the patient based on their previous
            records. In most of the cases patients cannot convey their issue correctly to their doctor due to shyness or lack of knowledge which can lead to the faulty diagnosis and can cause major issues. So, the system will be of real help by providing
            the previous record of the patient to the doctor for better diagnosis. Communication gap between the two different doctors of a common patient will be filled by our system. This project will be a web application developed in HTML, CSS, Django
            and MongoDB where patients can access their records by signing into their account.
        </p>

        <p>This project will provide a great service in field of medical by providing the essential information to the doctors about the patient which they need for an effective diagnosis.</p>
    </div>

    {% endblock %}
</body>

</html>