{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>City Analysis By Graph</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="" src="{% static '/js/index.js' %}" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="" src="{% static 'js/index.js' %}" charset="utf-8"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        window.onload = function() {
            var data = JSON.parse('{{data | safe}}');
            var dps = [];
            console.log(data);
            for (var element in data) {
                console.log(element);
                dps.push({
                    label: data[element][0],
                    y: data[element][1]
                });
            }
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "{{text}}"
                },
                data: [{
                    type: "column",
                    showInLegend: true,
                    legendMarkerColor: "grey",
                    dataPoints: dps
                }]
            });

            chart.render();
        }
    </script>


</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{user}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper">


        {% include 'BackEndApp/adminSidebar.html' %}

    </div>

    <div class="usableBody">


        <form action="" method="POST" style="position: absolute; left: 16%; top: 10%;">
            {%csrf_token%}
            <label for="city">Choose a city:</label>
            <select name="city" id="city">
              <option value=""></option>
              {% for city in cities %}
              <option value="{{city}}">{{city}}</option>
              {%endfor%}
            </select>

            <label>
                <label>Start Date:</label>
            <input name="start" id="start" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" />
            </label>

            <label>
                <label>End Date:</label>
            <input name="end" id="end" type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" />
            </label>
            <br><br>

            <input class="btn btn-md btn-primary" type="submit" value="Apply" style="position: absolute; left: 90%;">
        </form>


        <div id="chartContainer" style="position: absolute; height: 50%; width: 70%; top: 30%; left: 14.8%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    </div>

</body>

</html>