{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script type="" src="{% static 'js/index.js' %}" charset="utf-8"></script>
</head>

<body class="bBody">
    <div class="changePass">
        <form action="/changePassword/" method="POST">
            {%csrf_token%}

            <div class="label-text">
                <h1 text-align: center>Change Password</h1>
            </div>

            <div>
                <label class="animate">
            <input
              name="oldPassword"
              id="oldPassword"
              type="password"
              required
            />
            <div class="label-text">Current Password</div>
          </label>
            </div>

            <div>
                <label class="animate">
            <input
              name="newPassword"
              id="newPassword"
              type="password"
              required
            />
            <div class="label-text">New Password</div>
          </label>
            </div>

            <button id="loginSubmit" class="signUp-btn" type="" value="">
          Change Password
        </button>
        </form>
    </div>

    <img class="logo_login" src="{% static 'images/UI/logo.png' %}" alt="MediLog-logo" />

    <div style="position: absolute; top: 75%; left: 76%">
        {{form.errors}} {% for message in messages %}
        <div style="color: rgb(228, 58, 58); height: 15px">
            <b> <h5 style="padding-top: 5px">{{message}}</h5></b>
        </div>
        {% endfor %}
    </div>
</body>

</html>