{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="" src="{% static 'js/index.js' %}" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>


<body class="bBody">


    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{user}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper">
       {% include 'BackEndApp/doctorSidebar.html' %}
    </div>


    <div class="usableBody">


        <div class="list-group" style="position: absolute; left: 2%; top: 3%; right: 50%;">
            {% for chatPerson in chatPeople %}

            <form action="/loadMessages/" method="POST">
                {%csrf_token%}
                <button type="submit" style="margin-bottom: 5px;" class="list-group-item list-group-item-action active" value="{{chatPerson.license_No}}" name="secondUserId" id="secondUserId">{{chatPerson}}</button>
                    
            </form>

            {% endfor %}
        </div>

        <div id="myForm" style="position:absolute; left: 55%; right: 0%; top: 20px;">
            <form action="/sendMessage/" class="form-container" method="POST">
                {%csrf_token%}
                <input placeholder="User ID" name="uID" id="uID" type="uID" required style="width: 500px; height: 40px;" />
                <textarea placeholder="Type message" name="text" id="text" required style="width: 500px; height: 500px;"></textarea>
                <button id="ViewRecordSubmit" class="btn" type="submit" style="width: 500px;">Send</button>
            </form>


        </div>


    </div>



</body>

</html>