{% load static %}

<div class="sidebar">
    <ul class="ul1">
        <li class="li1"><a href="{% url 'feed' %}"><i class="fas fa-home"></i>Home</a></li>
        <li class="li1"><a href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a></li>
        <li class="li1"><a href="{% url 'loadSenders' %}"><i class="fas fa-comments"></i></i>Chat</a></li>

        <!-- <form action="/loadSenders/"><button class="open-button" id="Show Chats" style="right: 20%;">Chat</button></form> -->

        <li><a href="{% url 'about' %}"><i class="glyphicon glyphicon-info-sign" style="padding-right: 9px"></i>About Us</a></li>
        
    </ul>
</div>