{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Home Page - Doctor</title>

    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{user}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">

        {% include 'BackEndApp/doctorSidebar.html' %}

        <!-- Search  bar of doctor to search patient by CNIC -->
        <div class="sBar">
            <form action="/timeline/" method="POST">
                {%csrf_token%}
                <input type="text" id="cnic" name="cnic" class="form-control" placeholder="Search Patient - by CNIC">
        </div>

        <div class="sBtn0">
            <button id="ViewRecordSubmit" class="btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        </form>
    </div>
    <div style="position: absolute; top: 52%; left: 35%">
        {{form.errors}} {% for message in messages %}
        <div style="
            color: rgb(228, 58, 58);
            height: 30px;
          ">
            <h5 style="padding-top: 5px">{{message}}</h5>
        </div>
        {% endfor %}
    </div>
</body>

</html>