<style>
    .pbody{  
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .send-btn
  {
    height: 30px;
    width: 60px;
    background-color: #04AA6D;
    color: black;
    border-radius: 8px;
    border-color: #04AA6D;
  }
  .send-btn:hover
  {
    border-color: #04AA6D;
    background-color: white;
  }
</style>

<img style="width: 500px; height: 100px;" src="../../../static/images/UI/logo.PNG" alt="MediLog">

<body class="pbody" style="background-image: url(../../../static/images/UI/spotted-bg.jpg);">

<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<button onclick="location.href='login.html'" class = "send-btn">Login</button>
</body>