<style>
    .pbody{  
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .send-btn
  {
    height: 30px;
    width: 60px;
    background-color: #04AA6D;
    color: black;
    border-radius: 8px;
    border-color: #04AA6D;
  }
  .send-btn:hover
  {
    border-color: #04AA6D;
    background-color: white;
  }
</style>

<img style="width: 500px; height: 100px;" src="../../../static/images/UI/logo.PNG" alt="MediLog">
<body class="pbody" style="background-image: url(../../../static/images/UI/spotted-bg.jpg);">
<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

    
    <div>
      {% csrf_token %} {{form}}
    <button class = "send-btn">Send</button>
</div>
</form>

</body>