{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



</head>

<body class="bBody">
    {%load static%}
    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">

                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 14px;">Hello, {{patient}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">


        {% include 'BackEndApp/patientSidebar.html' %} {%block content%}
        <div class="main_content">
            <div class="lastAappointment">
                <h3>LAST APPOINTMENT</h3>

                <h4>Doctor : {{doctor}}</h4>
                <h4>Hospital : {{hospital}}</h4>
                <h4>Date : {{date}}</h4>
            </div>

            <div class="lastTest">
                <h3>LAST TEST</h3>
                <h4>Lab : {{laboratory}}</h4>
                <h4>Label : {{label}}</h4>
                <h4>Date : {{labDate}}</h4>
            </div>

            <div class="lastScan">
                <h3>LAST SCAN</h3>
                <h4>Lab : N/A</h4>
                <h4>Label : N/A</h4>
                <h4>Date : N/A</h4>
            </div>


            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {
                    'packages': ['corechart']
                });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var djangodata = JSON.parse('{{vis | safe}}');
                    var data = google.visualization.arrayToDataTable(djangodata);
                    console.log(data)
                    var options = {
                        title: 'Medical History',
                        curveType: 'function',
                        legend: {
                            position: 'bottom'
                        },
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    chart.draw(data, options);
                }
            </script>

            <div id="curve_chart" style="width: 37%; 
                                                  height: 49%; 
                                                  position:absolute; 
                                                  left: 60%; 
                                                  top:44%; 
                                                  opacity: 0.8; 
                                                  box-shadow: 1.5px 1.5px 5px 5px rgba(102, 102, 102, 0.2);">
            </div>

            <div>

            </div>

            <title>W3.CSS</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <div class="w3-container listPresStyle">
                <h2>Prescriptions</h2>
                <ul class="w3-ul w3-card-4 ">
                    {% if prescriptions%} {% for prescription in prescriptions %}
                    <li class="w3-bar listBar ">
                        <img src="{% static 'images/UI/Doctor.jpg' %} " class="w3-bar-item w3-circle w3-hide-small " style="width:85px; height: 70px ">
                        <div class="w3-bar-item ">
                            <span class="w3-large ">{{prescription.label}} </span><br>
                            <span class="w3-small ">{{prescription.doctor}}</span>
                        </div>
                    </li>
                    {% endfor %} {% endif %}
                </ul>
                <ul class="w3-ul w3-card-4 ">
                    {% if not prescriptions%}
                    <li class="w3-bar listBar ">
                        <img src="{% static 'images/UI/Doctor.jpg' %} " class="w3-bar-item w3-circle w3-hide-small " style="width:85px; height: 70px ">
                        <div class="w3-bar-item ">
                            <span class="w3-large ">N/A</span><br>
                            <span class="w3-small ">N/A</span>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>


            <title>W3.CSS</title>
            <meta name="viewport " content="width=device-width, initial-scale=1 ">
            <link rel="stylesheet " href="https://www.w3schools.com/w3css/4/w3.css ">

            <div class="w3-container listRepStyle ">
                <h2>Reports</h2>
                <ul class="w3-ul w3-card-4 ">
                    {% if reports%} {% for report in reports %}
                    <li class="w3-bar listBar ">
                        <img src="{% static 'images/UI/lab.jpg' %} " class="w3-bar-item w3-circle w3-hide-small " style="width:85px; height: 70px ">
                        <div class="w3-bar-item ">
                            <span class="w3-large ">{{report.label}}</span><br>
                            <span class="w3-small ">{{report.laboratory}}</span>
                        </div>
                    </li>
                    {% endfor %} {% endif %}
                </ul>
                <ul class="w3-ul w3-card-4 ">
                    {% if not reports%}
                    <li class="w3-bar listBar ">
                        <img src="{% static 'images/UI/lab.jpg' %} " class="w3-bar-item w3-circle w3-hide-small " style="width:85px; height: 70px ">
                        <div class="w3-bar-item ">
                            <span class="w3-large ">N/A</span><br>
                            <span class="w3-small ">N/A</span>
                        </div>
                    </li>
                    {% endif %}
                </ul>




            </div>
            {%endblock%}
        </div>
    </div>
</body>

</html>