{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>

    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




</head>

<body class="bBody">

    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                {%block content%}
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{person}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper">


        {% if patient%}
        <!-- Patient's Side bar -->
        {% include 'BackEndApp/patientSidebar.html' %} {%endif%} {%if not patient%}
        <!-- Doctor's Sidebar  -->
        {% include 'BackEndApp/doctorSidebar.html' %} {%endif%}

    </div>

    <div class="usableBody2">
        <img name="img" src="{{person.photo.url}}" alt="profile-img" class="prof-img">
        <form action="/profile/" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <div class="form-group" style="padding-top: 25px;">
                <label for="name">First Name </label>
                <input type="text" name="fName" class="form-control" value="{{person.fName}}" placeholder="First Name" readonly>
            </div>

            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" name="lName" class="form-control" value="{{person.lName}}" placeholder="Last Name" readonly>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Phone#</label>
                <input type="text" name="phone" class="form-control" value="{{person.phone}}" placeholder="03xx-xxxxxxx">
            </div>


            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" name="email" class="form-control" placeholder="Enter email" value={{person.email}}>
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


            <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" name="address" placeholder="House xy, ABC block, Faisal Town, Lahore" value="{{person.address}}">
            </div>

            <label class="form-label" for="customFile">Profile Picture</label>
            <input type="file" name="photo" class="form-control" accept="Application/pdf, image/*" id="customFile" /><br>

            <button type="submit" class="btn btn-primary" style="position: relative; bottom: 10px;">Update</button>
        </form>
        <form action="/changePassword/" method="GET">
            {%csrf_token%}
            <button type="submit" class="btn btn-primary" style="position: relative; top: 4px; bottom: 10px;">Change Password</button> {%endblock%}
        </form>

    </div>

</body>

</html>