{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script type="" src="{% static '/js/index.js' %}" charset="utf-8"></script>
</head>

<body class="signUpBody">
    <div class="signup">
        <form id="form" name="form1" action="" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
            {%csrf_token%}

            <div class="label-text">
                <!-- <h3 text-align: center>Sign Up</h3> -->
            </div>

            <label class="animate">
          <input
            style="padding-top: 25px"
            name="cnic"
            id="cnic"
            type="text"
            required
          />
          <div class="label-text" name="your-CNIC">CNIC</div>
        </label>

            <div>
                <label class="animate">
            <input name="password" id="password" type="password" required />
            <div class="label-text">Password</div>
          </label>
            </div>

            <label class="animate">
          <input name="fname" id="fname" type="text" required />
          <div class="label-text">First Name</div>
        </label>

            <label class="animate">
          <input name="lname" id="lname" type="text" required />
          <div class="label-text">Last Name</div>
        </label>

            <label class="animate">
          <input name="phone" id="phone" type="phone" required />
          <div class="label-text" name="your-phone">Phone</div>
        </label>

            <label class="animate">
          <input name="email" id="email" type="email" required />
          <div class="label-text">E-mail</div>
        </label>

            <label class="animate">
          <input
            name="dob"
            id="dob"
            type="text"
            onfocus="(this.type='date')"
            onfocusout="(this.type='text')"
            required
          />
          <div class="label-text">Date of Birth</div>
        </label>

            <label class="animate">
          <input name="address" id="address" type="text" required />
          <div class="label-text">Address</div>
        </label>

            <label class="">
          <div>
            <input
              type="file"
              id="prescription"
              name="file"
              style="padding-left: 12%; padding-top: 3%"
              accept="image/*"
            />
          </div> </label
        ><br />

        <button class="signUp-btn" id="signupSubmit" type="" value="">
          Sign Up
        </button>

        <div class="label-text" style="padding-bottom: 25px">
          Already have an account? <a href="{% url 'login' %}">Login</a>
        </div>
      </form>
    </div>

    <img
      class="logo"
      src="{% static 'images/UI/logo.png' %}"
      alt="MediLog-logo"
    />
    <img
      class="welcome"
      src="{% static 'images/UI/welcome.png' %}"
      alt="welcome-img"
    />
    <div style="position: absolute; top: 93%; left: 13%">
      {{form.errors}} {% for message in messages %}
      <div style="color: rgb(228, 58, 58); height: 30px">
        <h5 style="padding-top: 5px">{{message}}</h5>
      </div>
      {% endfor %}
    </div>
  </body>
</html>