{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Summary</title>

    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="icon" href="{% static 'images/UI/favicon1.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="JavaScript" href="{% static '/js/index.js' %}" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    </style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>

<body class="bBody">

    <!-- rgb(227, 254, 255); -->
    <nav class="navbar  navbar-fixed-top" style="background-color: rgb(227, 254, 255); padding: 5px 0px; margin: 0px 0px; box-shadow: 2px 2px rgba(134, 133, 133, 0.1);">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="{% url 'feed' %}" class="navbar-left">
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    <img src="{% static 'images/UI/logo.png' %}" width="auto" height="50px">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
                {% block content%} {%if check%}
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{patient}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
                {%endif%} {%if not check%}
                <ul class="nav navbar-nav float-left ml-auto">
                    <li style="margin-top: 15px;">Hello, {{doctor}}</li>
                    <li><a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></span></a></li>
                </ul>
                {%endif%}
            </div>

        </div>
    </nav>



    <div class="wrapper">

        {% if check%}
        <!-- Patient's Sidebar     -->
        {% include 'BackEndApp/patientSidebar.html' %} {%endif%} {%if not check%}
        <!-- Doctor's Sidebar  -->

        {% include 'BackEndApp/doctorSidebar.html' %} {%endif%}

    </div>


    <div class="usableBody">
        <h1 style="padding-left: 2%;">{{patient}}</h1>
        <h4 style="padding-left: 2%;">D.O.B: {{patient.dob}}</h4>
        {% for dat in data %} {{dat.description}} <br> {% endfor %}
        <h1 style="padding-left: 38.6%; font-weight:600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #00303f;">MEDICAL HISTORY</h1>
        <!-- <img src="{% static 'images/UI/summary.png' %}" alt=" " class="summaryOfPatient"> -->
        {%if check%}
        <form id="form" action="/viewAllRecords/" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <button type="text" value="" style="margin-left: 37%; margin-top:27%;" class="addButtonHosp">View All Records</button>
        </form>
        <!--  <form id="form" action="/viewReport/" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <button type="text" name="cnic" value="{{patient.CNIC}}" style="margin-left: 4%; margin-top:27%;" class="addButtonHosp">View Reports</button>
        </form>   -->
        {%endif%}{%if not check%}
        <form id="form" action="/viewAllRecords/" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <button type="text" name="cnic" value="{{patient.CNIC}}" style="margin-left: 37%; margin-top:27%;" class="addButtonHosp">View All Records</button>
        </form>
        <!--  <form id="form" action="/viewReport/" enctype="multipart/form-data" method="POST">
            {%csrf_token%}
            <button type="text" name="cnic" value="{{patient.CNIC}}" style="margin-left: 4%; margin-top:27%;" class="addButtonHosp">View Reports</button>
        </form>
        {%endif%}-->{%endblock%}
    </div>
</body>

</html>